#main-content {
    display: flex;
    font-size: large;
}

#attacker {
    width: 25%;
    background-color: #7f4247;
    color: #ffffff;
}

#attacker > div:not(#attacker-header) {
    margin: 5px;
}

#attacker-header {
    background-color: #f05c57;
    color: #ffffff;
    text-align: center;
    font-size: x-large;
    margin: 0;
    padding: 4px;
}

#defender {
    width: 25%;
    background-color: #3f7772;
    color: #ffffff;
}

#defender > div:not(#defender-header) {
    margin: 5px;
}

#defender-header {
    background-color: #66c2a9;
    color: #ffffff;
    text-align: center;
    font-size: x-large;
    margin: 0;
    padding: 4px;
}

#viewer {
    width: 50%;
    background-color: #49687a;
    color: #ffffff;
}

#viewer-header {
    background-color: #bcbcbc;
    color: #ffffff;
    text-align: center;
    font-size: x-large;
    padding: 4px;
}

#viewer input {
    background-color: #49687a;
    width: 100%;
    color: #ffffff;
    font-size: large;
}
